@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navLink {
    @apply text-[18px] hover:text-accent;
  }
}

.custom-font {
  font-family: "Cursive", sans-serif;
  letter-spacing: 0.1em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Dancing+Script:wght@700&display=swap');


/* Hover effect for product card */
.product-card:hover {
  transform: scale(1.05); /* Zoom in */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Add shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
